@charset "UTF-8";
/* resset.dev • v5.0.2 */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 16px;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
}

.l-aside {
  z-index: 10;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  display: none;
}
@media screen and (min-width: 1000px) {
  .l-aside {
    width: 25%;
    display: block;
    height: auto;
    position: static;
  }
}

.l-container {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .l-container {
    display: flex;
  }
}

.l-content {
  margin: 0 5%;
}

.l-footer {
  width: 100%;
  min-height: 150px;
  height: 1px;
  position: absolute;
  bottom: 0px;
}
@media screen and (min-width: 1000px) {
  .l-footer {
    width: 100%;
  }
}

.l-header {
  height: 215px;
}

.l-main {
  padding-bottom: 150px;
}
@media screen and (min-width: 1000px) {
  .l-main {
    width: 75%;
    position: relative;
  }
}

.c-btn-media {
  display: inline-block;
  width: 160px;
  max-width: 100%;
  padding: 12px 40px;
  background-color: #FFFFFF;
  color: #3C2A10;
  font-size: 1rem;
  border-radius: 20px;
  line-height: 1em;
  font-weight: bold;
}
@media screen and (min-width: 1000px) {
  .c-btn-media {
    width: 300px;
    padding: 24px 80px;
    border-radius: 30px;
  }
}

.c-button-menu {
  color: #707070;
  font-size: 1.125rem;
  font-weight: 700;
}
@media screen and (min-width: 650px) {
  .c-button-menu {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1300px) {
  .c-button-menu {
    font-size: 2.25rem;
  }
}

.c-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: #707070;
  background-color: #F2EDE9;
  padding: 10px 24px;
  border-radius: 10px;
  border: 1px #707070 solid;
}
@media screen and (min-width: 650px) {
  .c-button {
    padding: 12px 52px;
  }
}

.c-button_close-sp {
  display: block;
  position: relative;
}
.c-button_close-sp::before {
  transform: rotate(45deg);
}
.c-button_close-sp::after {
  transform: rotate(-45deg);
}

.c-button_sp_line::before, .c-button_sp_line::after {
  content: "";
  position: absolute;
  width: 38px;
  top: 16px;
  right: 0;
  height: 6px;
  background-color: #707070;
}

.c-input-text {
  width: 216px;
  line-height: 46px;
  padding: 0 36px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px #707070 solid;
}
@media screen and (min-width: 650px) {
  .c-input-text {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .c-input-text {
    width: 250px;
  }
}

.c-page-title {
  color: #FFFFFF;
  font-size: 2.25rem;
  font-weight: 700;
}
@media screen and (min-width: 1000px) {
  .c-page-title {
    font-size: 2.75rem;
  }
}

.c-page-title__menu {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 650px) {
  .c-page-title__menu {
    margin-left: 20px;
  }
}

.c-search-result {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.c-serch-icon {
  position: absolute;
  top: 53%;
  left: 3%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  font-size: 1.5rem;
  display: inline-block;
}

.p-archive {
  padding: 20px 5% 60px;
}
@media screen and (min-width: 650px) {
  .p-archive {
    padding-top: 40PX;
  }
}

.p-archive__title {
  font-size: 1.75rem;
  margin-bottom: 24px;
}

.p-archive__sentence {
  margin-bottom: 20px;
}

.p-article {
  padding-top: 40px;
  padding-bottom: 70px;
}

.p-article__title {
  margin-bottom: 28px;
}

.p-article__heading {
  margin-bottom: 28px;
}

.p-article__heading-h2 {
  font-size: 1.75rem;
}

.p-article__text {
  margin-bottom: 36px;
}

.p-article__heading-h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 650px) {
  .p-article__heading-h3 {
    margin-bottom: 56px;
  }
}

.p-article__heading-h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 650px) {
  .p-article__heading-h4 {
    margin-bottom: 56px;
  }
}

.p-article__heading-h5 {
  font-size: 1.25rem;
}
@media screen and (min-width: 650px) {
  .p-article__heading-h5 {
    margin-bottom: 56px;
  }
}

.p-article__heading-h6 {
  font-size: 1.25rem;
}
@media screen and (min-width: 650px) {
  .p-article__heading-h6 {
    margin-bottom: 56px;
  }
}

.p-aside {
  background-color: #F2EDE9;
  height: 100%;
  width: 80%;
  position: relative;
  padding-top: 90px;
  padding-left: 15%;
}
@media screen and (min-width: 650px) {
  .p-aside {
    width: 100%;
    padding-top: 180px;
  }
}
@media screen and (min-width: 1000px) {
  .p-aside {
    padding-top: 86px;
  }
}

.p-aside__button {
  margin-bottom: 80px;
  display: none;
}
@media screen and (min-width: 1000px) {
  .p-aside__button {
    display: block;
  }
}

.p-aside__button_close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 20;
}
@media screen and (min-width: 1000px) {
  .p-aside__button_close {
    display: none;
  }
}

.p-background-sp-menu {
  background-color: #000000;
  opacity: 0.5;
  width: 20%;
  height: auto;
}

.p-button-area {
  margin-bottom: 70px;
}

.p-button-area__button {
  text-align: center;
  padding: 30px 140px;
  margin-bottom: 30px;
}

.p-button-area__bold {
  font-size: 1rem;
  font-weight: bold;
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 640px;
  padding: 16px;
}
@media screen and (min-width: 650px) {
  .p-card {
    width: 47%;
  }
  .p-card:nth-child(2) {
    margin-left: 5%;
  }
}

.p-card_img-takeout {
  background-image: url("../img/front-page__burger.jpeg");
}

.p-card_img-eatin {
  background-image: url("../img/front-page__potato.png");
}

.p-card__title {
  color: #EAEAEA;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1em;
}

.p-card--img-takeout {
  background-image: url("../img/front-page__burger.jpeg");
}

.p-card--img-eatin {
  background-image: url("../img/front-page__potato.png");
}

.p-card__content {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding: 10px 12px;
}

.p-card__content--top {
  margin-bottom: 16px;
}

.p-card__content-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 8px;
}

.p-citing {
  background: #F5F5F5;
  padding: 24px 5%;
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .p-citing {
    padding: 50px 50px;
    margin-bottom: 60px;
  }
}

.p-citing__body {
  text-align: justify;
}
@media screen and (min-width: 650px) {
  .p-citing__body {
    margin-bottom: 60px;
  }
}

.p-citing__source {
  display: flex;
}

.p-citing__source-link {
  text-decoration: underline;
  color: #0000EE;
}

.p-footer {
  height: 100%;
  background: #3C2A10;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 650px) {
  .p-footer {
    font-size: 1.625rem;
    padding: 30px;
  }
}

.p-footer__menu {
  display: flex;
  justify-content: center;
}
.p-footer__menu li {
  line-height: 1em;
  color: #FFFFFF;
}
.p-footer__menu li:nth-child(n+2) {
  border-left: solid 1px;
}
.p-footer__menu li a {
  display: block;
  padding: 0 7px;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.p-footer__Copyright {
  color: #FFFFFF;
}

.p-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .p-form {
    margin-right: 2%;
  }
}

.p-form__body {
  position: relative;
}

.p-form__input {
  margin-right: 12px;
}

.p-front {
  padding: 20px 0 50px;
}
@media screen and (min-width: 650px) {
  .p-front {
    padding: 40px 0 40px;
  }
}

@media screen and (min-width: 650px) {
  .p-front-category__menu {
    display: flex;
  }
}

.p-front__card--top {
  margin-bottom: 16px;
}

.p-header {
  height: 100%;
  padding: 40px 0;
  position: relative;
  background-color: #FFF7EF;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-header__logo {
  margin-bottom: 36px;
}
@media screen and (min-width: 1000px) {
  .p-header__logo {
    margin-bottom: 0;
    margin-left: 5%;
  }
}

.p-header__link {
  color: #707070;
  font-size: 2.25rem;
  line-height: 48px;
}
@media screen and (min-width: 1300px) {
  .p-header__link {
    font-size: 56px;
  }
}

.p-header__menu-button_sp {
  width: fit-content;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media screen and (min-width: 1000px) {
  .p-header__menu-button_sp {
    display: none;
  }
}

.p-header__menu-button_open {
  position: absolute;
  top: 8px;
  right: 8px;
}

.p-html {
  background-color: #F5F5F5;
  padding: 50px;
  margin-bottom: 30px;
}

.p-html__wrapper {
  font-size: 1rem;
  color: #3C2A10;
}

.p-html__content {
  margin-left: 20px;
}

@media screen and (min-width: 650px) {
  .p-img-repeate {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.p-img-repeate__img-wrapper {
  display: block;
}
.p-img-repeate__img-wrapper:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 650px) {
  .p-img-repeate__img-wrapper {
    width: 48%;
  }
  .p-img-repeate__img-wrapper:nth-child(2n) {
    margin-left: 4%;
  }
}
@media screen and (min-width: 1000px) {
  .p-img-repeate__img-wrapper {
    width: 30%;
  }
  .p-img-repeate__img-wrapper:nth-child(3n-2) {
    margin-left: 0px;
  }
  .p-img-repeate__img-wrapper:not(:nth-child(3n-2)) {
    margin-left: 3%;
  }
}

.p-img-repeate__img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .p-img-repeate__img {
    margin-bottom: 0px;
  }
}

.p-img {
  margin-bottom: 30px;
}

.p-img__wrapper {
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .p-img__wrapper {
    margin-bottom: 60px;
  }
}

.p-img__content {
  display: block;
  width: 100%;
  height: 124px;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (min-width: 366px) {
  .p-img__content {
    height: 264px;
  }
}

.p-img__media {
  display: flex;
  height: 170px;
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .p-img__media {
    height: 100%;
    overflow: visible;
  }
  .p-img__media:nth-child(2) {
    margin-bottom: 100px;
  }
}

.p-img__media-revers {
  flex-direction: row-reverse;
}

.p-img__media_img-wrapper {
  width: 40%;
}

.p-img__media_img {
  width: 100%;
}

.p-img__media-text-right {
  width: 57%;
  margin-left: 3%;
}

.p-img__media-text-left {
  width: 57%;
  margin-right: 3%;
}

.p-img__image {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.p-img__image img {
  display: block;
  width: 100%;
}

.p-list:first-child {
  margin-bottom: 60px;
}
.p-list:last-child {
  margin-bottom: 25px;
}

@media screen and (min-width: 650px) {
  .p-list_wrapper {
    margin-bottom: 60px;
  }
}

.p-list__content:not(:last-child) {
  margin-bottom: 10px;
}
.p-list__content:nth-child(2) {
  margin-left: 10px;
}

.p-list__sub {
  margin-left: 20px;
  margin-bottom: 16px;
}

.p-map {
  width: 100%;
  position: relative;
  height: 690px;
}
@media screen and (min-width: 650px) {
  .p-map {
    height: 416px;
  }
}
.p-map::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.28) 30%, rgba(0, 0, 0, 0.28) 100%);
}
@media screen and (min-width: 650px) {
  .p-map::before {
    background: rgba(0, 0, 0, 0.6);
  }
}
@media screen and (min-width: 1000px) {
  .p-map::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.28) 30%, rgba(0, 0, 0, 0.28) 100%);
  }
}
.p-map::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.p-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-map__content {
  z-index: 10;
  position: absolute;
  height: 100%;
  padding: 40px 40px 60px;
}
@media screen and (min-width: 1000px) {
  .p-map__content {
    width: 70%;
  }
}

.p-map__title {
  margin-bottom: 20px;
}

.p-map__sentence {
  line-height: 33px;
}

.p-media:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .p-media {
    display: flex;
    margin-bottom: 100px;
  }
}

.p-media__wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 650px) {
  .p-media__wrapper {
    bottom: 100px;
  }
}

.p-media__img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
  height: 100%;
}

@media screen and (min-width: 650px) {
  .p-media__img-wrapper {
    width: 50%;
  }
}

.p-media__body {
  color: #FFFFFF;
  background-color: #3C2A10;
  padding: 32px 5% 42px;
}
@media screen and (min-width: 650px) {
  .p-media__body {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .p-media__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.p-media__menu {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.p-media__heading {
  font-size: 1rem;
  margin-bottom: 8px;
}

.p-media__text {
  margin-bottom: 40px;
}

.p-media__button {
  text-align: center;
}

.p-nav__menu {
  display: block;
}
.p-nav__menu li {
  margin-bottom: 60px;
}
.p-nav__menu li a {
  display: block;
  margin-bottom: 40px;
  color: #707070;
  font-weight: 700;
  font-size: 1.5rem;
}

.p-nav__menu-sub {
  padding-left: 22px;
}
.p-nav__menu-sub li {
  margin-bottom: 24px;
}
.p-nav__menu-sub li a {
  font-size: 1.25rem;
  color: #707070;
  font-weight: 400;
}

.p-page-visual {
  position: relative;
  height: 315px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.p-page-visual_front-page {
  background-image: url(../img/main-img_sp.jpg);
}
@media screen and (min-width: 650px) {
  .p-page-visual_front-page {
    background-image: url(../img/main-img_pc.jpg);
  }
}

.p-page-visual_single {
  height: 225px;
  background-image: url(../img/single-img_sp.png);
  background-position: top;
}
@media screen and (min-width: 650px) {
  .p-page-visual_single {
    height: 500px;
    background-size: cover;
    background-image: url(../img/single-img_pc.png);
  }
}

.p-page-visual_page {
  height: 225px;
  background-image: url(../img/page-img_sp.png);
  background-size: cover;
}
@media screen and (min-width: 650px) {
  .p-page-visual_page {
    height: 500px;
    background-image: url(../img/page-img_pc.png);
  }
}

.p-page-visual_archive {
  background-image: url(../img/archive-img.jpg);
  background-position: left;
  position: relative;
}
@media screen and (min-width: 650px) {
  .p-page-visual_archive {
    height: 285px;
  }
}
.p-page-visual_archive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

@media screen and (min-width: 650px) {
  .p-page-visual__title {
    display: flex;
    align-items: center;
  }
}

.p-pagenation {
  display: block;
}

.nav-links {
  display: flex;
}
@media screen and (min-width: 650px) {
  .nav-links {
    position: static;
    justify-content: center;
  }
}

.page-numbers {
  display: none;
  padding: 6px 12px;
  color: #000000;
  border: 1px solid #3C2A10;
}
@media screen and (min-width: 650px) {
  .page-numbers {
    display: inline-block;
  }
  .page-numbers:nth-child(n+2) {
    margin-left: 20px;
  }
}

.fa-angle-double-left {
  margin-right: 16px;
}

.fa-angle-double-right {
  margin-left: 16px;
}

.next, .prev {
  font-size: 1.25rem;
  border: none;
  display: block;
}

.next {
  margin-left: auto;
}
@media screen and (min-width: 650px) {
  .next {
    position: static;
    right: inherit;
  }
}
.next::before {
  content: "次へ";
}
@media screen and (min-width: 650px) {
  .next::before {
    display: none;
  }
}

.prev::after {
  content: "前へ";
}
@media screen and (min-width: 650px) {
  .prev::after {
    display: none;
  }
}

.current {
  background-color: #3C2A10;
  color: #FFFFFF;
}

.p-search {
  padding: 100px 0;
}

.p-search__result {
  font-size: 0.75rem;
  height: 100vw;
}
@media screen and (min-width: 650px) {
  .p-search__result {
    font-size: 1.5rem;
  }
}
.p-search__result a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 650px) {
  .p-search__result a {
    font-size: 2rem;
  }
}

.p-table {
  margin-bottom: 60px;
}

.p-table__body {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3C2A10;
}

.p-table__th, .p-table__td {
  border: 1px solid #3C2A10;
}

.p-table__th {
  width: 40%;
  text-align: left;
  padding: 25px 0 25px 25px;
}

.p-table__td {
  width: 70%;
  padding: 25px 0 25px 25px;
}

.u-fc_white {
  color: #FFFFFF;
}

.u-fc_gray {
  color: #707070;
}

.u-fs_map {
  font-size: 1.25rem;
}

.u-fs_sentence {
  font-size: 0.875rem;
}

.u-fs_menu-title {
  font-size: 1.5rem;
}

.u-fs_menu {
  font-size: 1rem;
}

.u-fw_bold {
  font-weight: 700;
}

.u-inner {
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 1000px) {
  .u-inner {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.u-open {
  display: flex;
}

.u-sentence {
  font-size: 1rem;
}

.u-title--position {
  position: absolute;
  top: 53%;
  left: 6%;
  transform: translateY(-50%);
}

.u-display-none {
  display: none;
}

.u-under-line::after {
  content: "";
  width: 33px;
  height: 4px;
  display: block;
  background-color: #EAEAEA;
  margin-top: 16px;
}

.u-under-line_long::after {
  content: "";
  width: 75px;
  height: 2px;
  display: block;
  background-color: #EAEAEA;
  margin-top: 14px;
}