@use "./foundation/_var-mixin.scss" as var-mixin;

.l-header {
    height: 215px;
    padding: 40px 0;
    position: relative;
    background-color: var-mixin.$pink-light;
    text-align: center;

    @include var-mixin.pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
}

.l-header__title {
    color: var-mixin.$gray;
    font-size: 36px;
    margin-bottom: 36px;
    line-height: 48px;

    @include var-mixin.pc {
        margin-bottom: 0;
        margin-left: 5%;

    }

    @include var-mixin.pc-wide {
        font-size: 56px;

    }
    
}

.l-header__menu-button_sp {
    width: fit-content;
    height: 36px;
    position: absolute;
    top: 8px;
    right: 8px;

    @include var-mixin.pc {
        display: none;

    }

}

.l-header__menu-button_open {
    position: absolute;
    top: 8px;
    right: 8px;

}

.l-header__form {
    display: flex;
    justify-content: center;
    align-items: center;

    @include var-mixin.pc {
        margin-right: 2%;
    
    }
    
}

.l-header__form-input {
    margin-right: 12px;
}