@use "./foundation/_var-mixin.scss" as var-mixin;

.l-footer {
    width: 100%;
    min-height: 150px;
    height: 1px;
    position: absolute;
    bottom: 0px;

    @include var-mixin.pc {
        width: 100%;
    }

}
