@use "./foundation/_var-mixin.scss" as var-mixin;

.l-sidebar {
    z-index: 10;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: none;
   

    @include var-mixin.pc {
        width: 25%;
        display: block;
        height: auto;
        position: static;

    }
    
}