@use "./foundation/_var-mixin.scss" as var-mixin;

.p-article {
    padding-top: 40px;
    padding-bottom: 70px;

}

.p-article__title {
    margin-bottom: 28px;
    
}

.p-article__heading {

}

.p-article__heading--h2 {
    font-size: 28px;

}

.p-article__text {
    margin-bottom: 36px;
    
}

.p-article__sentence {

}

.p-article__heading--h3 {

}
.p-article__heading--h4 {

}
.p-article__heading--h5 {

}
.p-article__heading--h6 {

}