@use "./foundation/_var-mixin.scss" as var-mixin;

.p-footer {
    min-height: 150px;
    background: var-mixin.$brown;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include var-mixin.tab {
        font-size: 26px;
        padding: 30px;
    }
}

.p-footer__menu {
    display: flex;
    justify-content: center;
}

.p-footer__link {
    color: var-mixin.$white;
    font-size: 18px;
    padding: 0 7px;
    line-height: 1em;
        &:nth-child( n + 2) {
            border-left: solid 1px;
        }

}

.p-footer__Copyright {
    color: var-mixin.$white;
    
}