@use "./foundation/_var-mixin.scss" as var-mixin;

.p-archive {
    padding: 20px 5% 60px;

    @include var-mixin.tab {
        padding-top: 40PX;    
    }
}

.p-archive__conetnts {
    
}

.p-archive__title {
    font-size: 1.75rem;
    margin-bottom: 24px;
   
}

.p-archive__sentence {
    margin-bottom: 20px;
   
}