@use "./foundation/_var-mixin.scss" as var-mixin;

.p-article {
    padding-top: 40px;
    padding-bottom: 70px;

}

.p-article__title {
    margin-bottom: 28px;
    
}

.p-article__heading {
    margin-bottom: 28px;

}

.p-article__heading-h2 {
    font-size: 1.75rem;

}

.p-article__text {
    margin-bottom: 36px;
    
}

.p-article__sentence {

}

.p-article__heading-h3 {
    font-size: 1.5rem;

    @include var-mixin.tab {
        margin-bottom: 56px;
    }

}
.p-article__heading-h4 {
    font-size: 1.25rem;

    @include var-mixin.tab {
        margin-bottom:56px;
    }

}
.p-article__heading-h5 {
    font-size: 1.25rem;

    @include var-mixin.tab {
        margin-bottom: 56px;
    }

}
.p-article__heading-h6 {
    font-size: 1.25rem;
    
    @include var-mixin.tab {
        margin-bottom: 56px;
    }

}