@use "./foundation/_var-mixin.scss" as var-mixin;


.p-background-sp-menu {
    // position: absolute;
    // top: 0;
    // left: -100%;
    background-color: var-mixin.$black;
    opacity: 0.5;
    width: 20%;
    height: auto;

}