@use "./foundation/_var-mixin.scss" as var-mixin;

.p-card {
    width: 100%;

    position: relative;
    &::before {
        content: "";
        display: block;
        padding-top: 175%;
    }

    @include var-mixin.tab {
        width: 47%;

        &:nth-child(2) {
            margin-left: 5%;
        }
    }
}

.p-card__main {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    padding: 5%;

    @include var-mixin.pc-wide {
        padding: 10%;
    
    }
}

.p-card_img-takeout {
    background-image: url('../img/front-page__burger.jpeg');
    background-size: cover;

}

.p-card_img-eatin {
    background-image: url('../img/front-page__potato.png');
    background-size: cover;
}

.p-card__title {
    color: var-mixin.$gray-light;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1em;

}

.p-card__contents {
    
}

.p-card__content {
    background-color: var-mixin.$white;
    opacity: 0.8;
    padding: 10px 12px;

}

.p-card__content--top {
    margin-bottom: 16px;

}

.p-card__content-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 8px;

}