@use "./foundation/_var-mixin.scss" as var-mixin;

.p-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 640px;
    padding: 16px;

    @include var-mixin.tab {
        width: 47%;

        &:nth-child(2) {
            margin-left: 5%;
        }

    }
}

.p-card_img-takeout {
    background-image: url('../img/front-page__burger.jpeg');

}

.p-card_img-eatin {
    background-image: url('../img/front-page__potato.png');

}

.p-card__title {
    color: var-mixin.$gray-light;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;

}

.p-card--img-takeout {
    background-image: url('../img/front-page__burger.jpeg');

}

.p-card--img-eatin {
    background-image: url('../img/front-page__potato.png');

}

.p-card__contents {
    
}

.p-card__content {
    background-color: var-mixin.$white;
    opacity: 0.8;
    padding: 10px 12px;

}

.p-card__content--top {
    margin-bottom: 16px;

}

.p-card__content-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 8px;

}