@use "./foundation/_var-mixin.scss" as var-mixin;

.p-footer {
    height: 100%;
    background: var-mixin.$brown;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include var-mixin.tab {
        font-size: 1.625rem;
        padding: 30px;
    }
}

.p-footer__nav {
 
}

.p-footer__menu {
    display: flex;
    justify-content: center;

    li {
        line-height: 1em;
        color: var-mixin.$white;
        
        &:nth-child( n + 2) {
            border-left: solid 1px;
            }
            
        a {
            display: block;
            padding: 0 7px;
            font-size: 1.125rem;
            color: var-mixin.$white;

           
                
        }
    }
}



.p-footer__Copyright {
    color: var-mixin.$white;
    
}