@use "./foundation/_var-mixin.scss" as var-mixin;

.p-front {
    padding: 20px 0 50px;

    @include var-mixin.tab {
        padding: 40px 0 40px;

    }
}

.p-front-category__menu {

    @include var-mixin.tab {
        display: flex;

    }
}

.p-front__card--top {
    margin-bottom: 16px;

    @include var-mixin.tab {
        margin-bottom: 0;
    
    }

}