@use "./foundation/_var-mixin.scss" as var-mixin;

.p-html {
    background-color: var-mixin.$gray-citing;
    padding: 50px;
    margin-bottom: 30px;

}

.p-html__wrapper {
    font-size: 1rem;
    color: var-mixin.$brown;

}

.p-html__content {
    margin-left: 20px;
    
}