@use "./foundation/_var-mixin.scss" as var-mixin;

.p-header {
    height: 100%;
    padding: 40px 0;
    position: relative;
    background-color: var-mixin.$pink-light;
    text-align: center;

    @include var-mixin.pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
}

.p-header__logo {
    margin-bottom: 36px;

    @include var-mixin.pc {
        margin-bottom: 0;
        margin-left: 5%;

    }
}

.p-header__link {
    color: var-mixin.$gray;
    font-size: 2.25rem;
    line-height: 48px;

    @include var-mixin.pc-wide {
        font-size: 56px;

    }

}

.p-header__menu-button_sp {
    width: fit-content;
    height: 36px;
    position: absolute;
    top: 8px;
    right: 8px;

    @include var-mixin.pc {
        display: none;

    }

}

.p-header__menu-button_open {
    position: absolute;
    top: 8px;
    right: 8px;

}
