@use "./foundation/_var-mixin.scss" as var-mixin;

.p-media {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @include var-mixin.tab {
        display: flex;
        margin-bottom: 100px;
    }
}

.p-media__wrapper {
    margin-bottom: 60px;

    @include var-mixin.tab {
       bottom: 100px;
    }
}

.p-media__img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;

    

}

.p-media__img-wrapper {

    @include var-mixin.tab {
        width: 50%;
    }
    

}

.p-media__body {
    color: var-mixin.$white;
    background-color: var-mixin.$brown;
    padding: 32px 5% 42px;

    @include var-mixin.tab {
        width: 50%;
    }

    @include var-mixin.pc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.p-media__content-wrapper {
   
}

.p-media__menu {
    font-size: 20px;
    margin-bottom: 20px;
}

.p-media__heading {
    font-size: 16px;
    margin-bottom: 8px;
}

.p-media__text {
    margin-bottom: 40px;
}

.p-media__button {
    text-align: center;
    

}

