@use "./foundation/_var-mixin.scss" as var-mixin;

.p-nav__menu {
    display: block;

}

.p-nav__list {
    margin-bottom: 60px;
    
}

.p-nav__item {
    display: block;
    margin-bottom: 40px;
    color: var-mixin.$gray;
    
}