@use "./foundation/_var-mixin.scss" as var-mixin;

.p-nav__menu {
    display: block;

    li {
        margin-bottom: 60px;

        a {
            display: block;
            margin-bottom: 40px;
            color: var-mixin.$gray;
            font-weight: 700;
            font-size: 1.5rem;

        }
    }
}

.p-nav__menu-sub {
    padding-left: 22px;

    li {
        margin-bottom: 24px;


        a{
            font-size: 1.25rem;
            color: var-mixin.$gray;
            font-weight: 400;

        }
    }
}

