@use "./foundation/_var-mixin.scss" as var-mixin;

.p-pagenation {
    display: block;
   
}

.pagination {

}

.nav-links {
    display: flex;

    @include var-mixin.tab {
        position: static;
        justify-content: center;
    }
}

.page-numbers {
    display: none;
    padding: 6px 12px;
    color: var-mixin.$black;
    border: 1px solid var-mixin.$brown;

    @include var-mixin.tab {
        display: inline-block;
        &:nth-child(n + 2){
            margin-left: 20px;
        }
    }
}

.fa-angle-double-left {
    margin-right: 16px;

}

.fa-angle-double-right {
    margin-left: 16px;

}

.next, .prev {
    font-size: 1.25rem;
    border: none;
    display: block;
    
}

.next {
    margin-left: auto;

    @include var-mixin.tab {
        position: static;
        right: inherit;
    }

    &::before {
        content:"次へ";

        @include var-mixin.tab {
           display: none;
        }
    }
}

.prev {
    &::after {
        content:"前へ";

        @include var-mixin.tab {
           display: none;
        }
    }
}

.current {
    background-color: var-mixin.$brown;
    color: var-mixin.$white;
}
