@use "./foundation/_var-mixin.scss" as var-mixin;

.p-sidebar {
    background-color: var-mixin.$gray-thin;
    height: 100%;
    width: 80%;
    position: relative;
    padding-top: 90px;
    padding-left: 15%;

    @include var-mixin.tab {
        width: 100%;
        padding-top: 180px;
    }

    @include var-mixin.pc {
        padding-top: 86px;

    }
}

.p-sidebar__button {
    margin-bottom: 80px;
    display: none;

    @include var-mixin.pc {
        display: block;

    }
}

.p-sidebar__button_close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 20;

    @include var-mixin.pc {
        display: none;

    }
}