@use "./foundation/_var-mixin.scss" as var-mixin;

.p-search {
    padding: 100px 0;
    
}

.p-search__result {
    font-size: 0.75rem;
    height: 100vw;

    @include var-mixin.tab {
        font-size: 1.5rem;
    
    }

    a {
        font-size: 1rem;
        font-weight: bold;
        text-decoration:underline;

        @include var-mixin.tab {
            font-size: 2rem;
        
        }
    }
}