@use "./foundation/_var-mixin.scss" as var-mixin;

.p-search {
    padding: 100px 0;
    
}

.p-search__result {
    font-size: 12px;
    height: 100vw;

    @include var-mixin.tab {
        font-size: 24px;
    
    }

    a {
        font-size: 16px;
        font-weight: bold;
        text-decoration:underline;

        @include var-mixin.tab {
            font-size: 32px;
        
        }
    }
}