@use "./foundation/_var-mixin.scss" as var-mixin;

.p-page-visual {
    position: relative;
    height: 315px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}

.p-page-visual__title {

    @include var-mixin.tab {
        display: flex;
        align-items: center;
    }
}

.p-page-visual__front-page {
    background-image: url(../img/mainvisual-sp@2x.jpg);

    @include var-mixin.tab {
        background-image: url(../img/mainvisual-pc@2x.jpg);

    }
}

.p-page-visual--archive {
    background-image: url(../img/page-title_arcive@2x.jpg);
    background-position: left;
    position: relative;

    @include var-mixin.tab {
        height: 285px;

    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var-mixin.$black;
        opacity: 0.4;
    }
}