@use "./foundation/_var-mixin.scss" as var-mixin;

.c-button {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 10px;
    background-color: var-mixin.$gray-button;
    border: 1px var-mixin.$gray solid;

    @include var-mixin.tab {
        padding: 12px 52px;

    }
}