@use "./foundation/_var-mixin.scss" as var-mixin;

.c-button {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: var-mixin.$gray;
    background-color: var-mixin.$gray-button;
    padding: 10px 24px;
    border-radius: 10px;
    border: 1px var-mixin.$gray solid;

    @include var-mixin.tab {
        padding: 12px 52px;

    }
}

.c-button_close-sp {
    display: block;
    position: relative;

    &::before {
        transform: rotate(45deg);

    }

    &::after {
        transform: rotate(-45deg);

    }
}

.c-button_sp_line {

    &::before,&::after {
        content: "";
        position: absolute;
        width: 38px;
        top: 16px;
        right: 0;
        height: 6px;
        background-color: var-mixin.$gray;

    }
}

