@use "./foundation/_var-mixin.scss" as var-mixin;

.c-button-menu {
    color: var-mixin.$gray;
    font-size: 1.125rem;
    font-weight: 700;

    @include var-mixin.tab {
        font-size: 1.5rem;
    }

    @include var-mixin.pc-wide {
        font-size: 2.25rem;
    }
}