@use "./foundation/_var-mixin.scss" as var-mixin;

.c-page-title {
  color: var-mixin.$white;
  font-size: 2.25rem;
  font-weight: 700;
    
}

.c-page-title__menu {
  color: var-mixin.$white;
  font-size: 1.25rem;
  font-weight: 700;

  @include var-mixin.tab {
    margin-left: 20px;
}
    
}