@use "./foundation/_var-mixin.scss" as var-mixin;

.u-fs_map {
    font-size: 1.25rem;

}

.u-fs_sentence {
    font-size: 0.875rem;

}

.u-fs_menu-title {
    font-size: 1.5rem;

}

.u-fs_menu {
    font-size: 1rem;

}